.conten{

	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

		.card {

			background-color: #5a4894;
			color: #D7D29C;
			&:hover{ transform: scale(1.02);
				transform: translate(2%, -2%);
				background-color: #231a24;
				cursor: pointer;
				
									}
	}

	.card-noHover{
		@extend .card;
		&:hover{ transform: scale(1);
				transform: translate(0%, -0%);
				background-color: #5a4894;
				padding: auto;
				cursor: default;}
	}


}